
.botones{

padding: 5px 10px; 
    font-size: 15px; 
    border-radius: 15px; 
    border: 1px solid #ccc; 
    background-color: #f0f0f0; 
    color: #333; 
    margin-left: 1rem;
    margin-right: 1rem;
    font-weight: bold;
   
}
